* {
  background-color: #7e7e7e;
  text-decoration: none;
  color: #fff;
  text-font-family: Arial, Helvetica, sans-serif;
}

.header {
  padding: 30px;

}

nav ul{
  display: flex;
  gap: 0px;
  padding: 0px;
  
}

.sidebar {
    width: 150px;
    background: #ffffff;
    border-right: 1px solid #ddd;
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
}

