/* CSS-kokonaisharjoitus, osa 5 */

/* Aloita CSS:n kirjoittaminen tämän kommentin alta. */

* {
    box-sizing: border-box;
}

.hero {
    text-align: center;
    padding: 4rem 2rem;
    background: #eef6ff;

}



.eyebrow {
    margin: 10px;
    height: 150px;
    font-size: 15px;
    line-height: 1.5;

}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #fffdfd;
  border-bottom: 1px solid #ddd;
  background-color: rgb(219, 219, 219);
  position: sticky;
  top: 0;
  z-index: 1;

}

.nav-list {
 display: flex;
 gap: 2rem;
 border-radius: 15px;
 list-style: none;
 
}


.content-section {
    max-width: 1000px;
    margin: 3rem auto;
    padding: 0 rem;
}



.card-list {
    border-radius: 15px;
    padding: 20px;
    display: flex;
    gap: 2rem;
    
}

.article {
    border-radius: 15px;

    
}

.card {
    background: #c2a9a9;
    padding: 30px;
    margin: 10px;
    border-radius: 25px;
}

.button {
    background-color: rgb(41, 40, 40);
    border-radius: 25px;
    color:rgb(236, 236, 236);
    font-size: 30px;
    text-decoration: none;


}